@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400&display=swap");

.gallery-wrapper {
  z-index: 1000;
  overflow: scroll;
  border-radius: 20px 20px 0 0;
  width: 65vw;
  height: 55vh;
  left: 50%;
  position: absolute;
  background-color: #252226;
  transform: translate(-50%, -50%);
  animation: gallery 1s ease-in-out forwards;

  &::-webkit-scrollbar {
    display: none;
  }

  .gallery-line {
    position: fixed;
    justify-content: flex-end;
    gap: 0.5rem;
    display: flex;
    top: 0%;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    height: 30px;
    background-color: #3a373a;
    li {
      font-size: 1.3rem;
      &:last-child {
        margin-right: 1.5rem;
      }
      &:hover {
        filter: brightness(75%);
      }
    }
  }

  .gallery-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
    .gallery-image {
      width: 100%;
      height: 100%;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      font-family: "Noto Sans KR", sans-serif;
      margin-top: 1rem;
      align-items: center;
      transition: background-color 0.4s;

      &:hover {
        background-color: rgba($color: #000000, $alpha: 0.4);
      }
      img {
        object-fit: contain;
        width: 5vw;
        height: 5vw;
      }
      p {
        margin-top: 0.5rem;
        color: white;
        font-weight: 100;
        font-size: 0.9vw;
      }
    }
  }
}

@keyframes gallery {
  from {
    opacity: 0;
    top: 60%;
  }
  to {
    opacity: 1;
    top: 50%;
  }
}
