body {
  background: $gray-light;
}

@keyframes loader {
  0% {
    width: 0;
  }

  20% {
    width: 10%;
  }

  25% {
    width: 24%;
  }

  43% {
    width: 41%;
  }

  56% {
    width: 50%;
  }

  66% {
    width: 52%;
  }

  71% {
    width: 60%;
  }

  75% {
    width: 76%;
  }

  94% {
    width: 86%;
  }

  100% {
    width: 100%;
  }
}

// Bar ============================================
.progress-bar {
  border-radius: 60px;
  overflow: hidden;
  width: 100%;

  span {
    display: block;
  }
}

.bar {
  background: $bar-bg;
}

.progress {
  animation: loader 8s ease infinite;
  background: $green;
  color: #fff;
  padding: $bar-size;
  width: 0;
}
