.nav-wrapper {
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  position: absolute;
  display: flex;
  align-items: center;
  height: 70px;
  width: 30vw;
  gap: 1rem;

  .nav-line {
    gap: 1.2rem;
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
    border-right: 1px solid black;
    padding-right: 1rem;
    li {
      border-radius: 50%;
      transition: 0.4s background;
      cursor: pointer;
      &:hover {
        background: rgba(#000, $alpha: 0.6);
      }
    }
  }

  img {
    width: 70px;
    height: 60px;
  }
}
