.nav-wrapper {
  background: transparent;
  margin: 0 auto;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
  position: absolute;
  display: flex;
  align-items: center;
  height: 70px;
  width: auto;
  gap: 0.8rem;

  .nav-line {
    padding-left: 1rem;
    background: rgba($color: #000000, $alpha: 0.3);
    position: relative;
    gap: 1.5rem;
    display: flex;
    align-items: center;
    height: 90%;
    width: auto;
    padding-right: 1rem;
    li {
      transition: 0.4s background;
      cursor: pointer;
      &:hover {
        animation: hoverAnimation 1s ease-in-out infinite;
      }
    }
    img {
      width: 100%;
      height: 60px;
    }
  }

  .nav-line-none {
    padding: 0 1rem 0 1rem;
    background: rgba($color: #000000, $alpha: 0.3);
    position: relative;
    gap: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: auto;
    li {
      color: white;
      transition: 0.4s background;
      cursor: pointer;
      &:hover {
        animation: hoverAnimation 1s ease-in-out infinite;
      }
    }
  }
}

@keyframes hoverAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}
